<!DOCTYPE html>

<html lang="fr" xmlns="http://www.w3.org/1999/html">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>SmartBlocks</title>
    {{ HtmlHelper.importJs("jquery") }}
    {{ HtmlHelper.importCss("reset") }}
    <link rel="stylesheet" type="text/css" href="/Apps/Common/Css/color_picker.css"/>
    <link rel="stylesheet" type="text/css" href="/Apps/NotificationsCenter/Css/main.css"/>
    {{ HtmlHelper.importCss("default") }}
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.1.0/pure-min.css">
    {{ HtmlHelper.importJs("require") }}
    <link rel="icon" type="image/jpg" href="/images/favicon.png"/>
    <link href="/css/hot-sneaks/jquery-ui-1.10.3.custom.css" rel="stylesheet">
    <script src="/javascript/jquery-1.9.1.js"></script>
    <script src="/javascript/jquery-ui-1.10.3.custom.js"></script>
</head>
<body>

<div id="flash_shower">
    <div id="flash_message"></div>
    <div style="clear:both"></div>
</div>

<div id="loader"></div>
<div id="container">

    <div id="left_menu">
        <a class="menu_button" href="/" title="Home">
            <img src="/images/icons/house.png"/>
        </a>
        <div id="user_log">
            {% if user_set %}
                Logged in as {{ user.name }} <a href="/Users/logout">Log out</a>
            {% else %}
                <a href="/Users/login_form">Log in</a> - <a href="/Users/add">Register</a>
            {% endif %}
        </div>
        <a class="menu_button log_button" href="javascript:void(0);" title="Login">
            <img src="/images/icons/user.png"/>
        </a>
        <div id="notification_center_container">

        </div>
        <a class="menu_button notif_button" href="javascript:void(0);" title="Notifications">
            <img src="/images/icons/newspaper.png"/>
        </a>

        {% if user.is_admin() %}
            <a class="menu_button" href="/Users/user_management" title="User management">
                <img src="/images/icons/user_edit.png">
            </a>
        {% endif %}
    </div>
    <div id="inner_container">
        <div id="content">
            {{ _content_for_layout_|raw }}
        </div>
    </div>
    {% if user_set %}
        <div id="file_sharing_button"><p id="file_sharing_text">File Sharing</p></div>

        <div id="chat_button">
            <div id="chat_notif" class="chat_notif"></div>
            <p id="chat_text">Chat</p></div>
    {% endif %}
</div>
<script type="text/javascript">

    var socket_server = "{{ _socket_serv }}";
    var user_session = "{{ _session_id }}";

    {% if app  %}
    var app = "{{ app }}";
    {% else %}
    var app = undefined;

    {% endif %}
</script>


<div id="chat_container"></div>
<div id="file_sharing_container"></div>

<link rel="stylesheet" href="/Apps/Common/Css/text_editor_outer.css" type="text/css"/>
<link rel="stylesheet" href="/Apps/FileSharing/Css/main.css" type="text/css"/>
<link rel="stylesheet" href="/Apps/FileSharing/Css/save_window.css" type="text/css"/>
<link rel="stylesheet" href="/Apps/Chat/Css/main.css" type="text/css"/>
<link rel="stylesheet" href="/Apps/Chat/Css/discussion_creation.css" type="text/css"/>
<script type="text/javascript" src="/Apps/Common/requireConfig.js"></script>
<script type="text/javascript" src="/Apps/Common/main.js"></script>
</body>
</html>